/* General Styles */
body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(to bottom right, #f5f7fa, #c3cfe2);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #333;
}

.container {
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  max-width: 800px;
  min-height: 200px;
  width: 50%;
}

h1 {
  text-align: center;
  color: #333;
  margin-bottom: 1.5rem;
  font-size: 2rem;
  font-weight: 600;
}

/* Form and Input Section */
form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.input-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1.5rem;
  margin-bottom: 1.5rem;
}

.card {
  background-color: #f9f9f9;
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-3px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card label {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
  color: #555;
  font-weight: 500;
}

.card select,
.card input {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 1rem;
  background-color: #fff;
  transition: border-color 0.3s ease;
}

.card select:focus,
.card input:focus {
  border-color: #007bff;
  outline: none;
}

/* Button Card */
.button-card {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
}

#predict-btn {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.75rem 2rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

#predict-btn:hover {
  background-color: #0056b3;
  transform: translateY(-2px);
}


/* Result Card */
.result-card {
  margin-top: 0.5rem;
  background-color: #f9f9f9;
  padding: 0.5rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 100%;
  max-height: 100px;
}



.result-card h2 {
  margin-bottom: 0.5rem;
  color: #333;
  font-size: 1.5rem;
  font-weight: 600;
}

#result {
  font-size: 1.3rem;
  color: #007bff;
  font-weight: 500;
}

.error { /* Style for error messages */
  color: red;
  font-size: 1.1rem;
  margin-top: 1rem; /* Add some spacing */
}



